p require-variable-current-dir

- file = 'image.jpeg'

img(src=require(file))
img(src=require(`${file}`))

img(src=require('./' + file))
img(src=require('./' + `${file}`))
img(src=require(`./${file}`))

//- fail
//- file = './image.jpeg'
//-img(src=require(file))
//-img(src=require('' + file))