h1 Hello World!

//- Static resource URL from public web path should not be parsed, leave as is.
link(rel='stylesheet' href='/absolute/assets/styles2.css')
img.a1(src='relative/assets/image2.png')

//- Required resource must be processed.
link(rel='stylesheet' href=require('../styles.css'))
img.a2(src=require('../image.png'))

//- test the resolving of an outer relative path
//- note: the variable with the path image = '../../image.png' can't be resolved with compile method
- var image = '../image.png'
- var image2 = './img/../../image.png'
- var image3 = './img/image2.png'
img.b1(src=require(image))
img.b2(src=require(image2))
img.b3(src=require(image3))