p require-variable-sub-dir

img(src=require('./images/image.jpeg'))

- file = 'images/image.jpeg'
img(src=require(file))

- file = 'image.jpeg'
img(src=require('./images/' + file))
img(src=require(`./images/${file}`))