h1 Hello!

//- test resolve embedded resources
- file2 = 'image2.jpeg'

p= '../images/image.jpeg'
img(src=require('../images/image.jpeg'))
p= 'Images/image.jpeg'
img(src=require('Images/image.jpeg'))
p= '"Images/" + file2'
img(src=require('Images/' + file2))
p= '`Images/${file2}`'
img(src=require(`Images/${file2}`))

//- test single require
- var colors = require('../includes/colors.json')

.first
  each color in colors
    i= color.name

//- test multiple requires in a object
-
  var data = [
    {
      name: 'Red Green Blue',
      colors: require('../includes/colors.json'),
    },
    {
      name: 'Rose Violet Azure',
      colors: require('Includes/colors2.json'),
    }
  ]

.second
  each item in data
    h3= item.name
    each color in item.colors
      i= color.name