p require-alias

- file = 'image.jpeg'

p 1
  img(src=require('SourceImages/image.jpeg'))
p 2
  img(src=require("SourceImages/image.jpeg"))
p 3
  img(src=require(`SourceImages/image.jpeg`))

p 4
  img(src=require('~SourceImages/image.jpeg'))
p 5
  img(src=require('@SourceImages/image.jpeg'))

p 6
  img(src=require('SourceImages/' + file))
p 7
  img(src=require("SourceImages/" + file))
p 8
  img(src=require(`Source/images/${file}`))