img(src=require('./image.jpeg'))

- var basename = 'logo';

//- test the prefix only as alias
img.prefix(src=require('@/images/logo.jpeg'))

//- test the single char as alias
img.char(src=require('&/images/logo.jpeg'))

//- note: if alias value is a string, the variable can be used

//- test alias value as string
img.a1(src=require('ImagesA/' + basename + '-a1.jpeg'))
img.a2(src=require('~ImagesA/' + basename + '-a2.jpeg'))
img.a3(src=require('@ImagesA/' + basename + '-a3.jpeg'))

//- test alias value as string contained a prefix in name
img.b1(src=require('ImagesB/logo-b1.jpeg'))
img.b2(src=require('~ImagesB/logo-b2.jpeg'))
img.b3(src=require('@ImagesB/logo-b3.jpeg'))
//- this works too
-
  var logos = {
    bc1: require('ImagesB/logo-b1.jpeg'),
    bc2: require('~ImagesB/logo-b2.jpeg'),
    bc3: require('@ImagesB/logo-b3.jpeg'),
  };
each src, className in logos
  img(src=src class=className)

//- test alias value as array
//- LIMITATION for compile method:
    If the alias is an array of paths, then only the first path is returned
    because it is not possible to determine the correct path containing the interpolated filename.
//-img.c1(src=require('ImagesC/' + basename + '-c1.jpeg'))
img.c1(src=require('ImagesC/logo-c1.jpeg'))
img.c2(src=require('~ImagesC/logo-c2.jpeg'))
img.c3(src=require('@ImagesC/logo-c3.jpeg'))

//- test alias value as array contained a prefix in name
img.d1(src=require('ImagesD/logo-d1.jpeg'))
img.d2(src=require('~ImagesD/logo-d2.jpeg'))
img.d3(src=require('@ImagesD/logo-d3.jpeg'))