h1 Hello World!

//- Static resource URL from public web path should not be parsed, leave as is.
link(rel='stylesheet' href='/absolute/assets/styles2.css')
img.a1(src='relative/assets/image2.jpeg')

//- Required resource must be processed.
link(rel='stylesheet' href=require('../styles.css'))
img.a2(src=require('../image.jpeg'))

//- test the resolving of an outer relative path
- var image = '../image.jpeg'
- var image2 = './img/../../image.jpeg'
- var image3 = './img/image2.jpeg'
img.b1(src=require(image))
img.b2(src=require(image2))
img.b3(src=require(image3))